.nav_list{
  display: flex;
  list-style-type: none;
  margin: 15px 0;
  padding: 0 0 15px 0;
  border-bottom: 1px solid black;
}
.nav_list >li:nth-child(n+2){
  margin-left: 20px;
}
.btn_logout{
  cursor: pointer;
}
.error_valid{
  margin-top: 20px;
  color: red;
}
.form_login{
  width: 500px;
}